<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouvelle Tâche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Titre*</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" color="danger">
        <span *ngIf="taskForm.get('title')?.errors?.['required']">Le titre est requis.</span>
        <span *ngIf="taskForm.get('title')?.errors?.['maxlength']">Le titre ne doit pas dépasser 15 caractères.</span>
      </ion-note>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-note *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched" color="danger">
        <span *ngIf="taskForm.get('description')?.errors?.['maxlength']">La description ne doit pas dépasser 64 caractères.</span>
      </ion-note>

      <ion-item>
        <ion-label>Statut*</ion-label>
        <ion-select formControlName="status">
          <ion-select-option *ngFor="let status of taskStatuses" [value]="status">
            {{ status }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Date limite*</ion-label>
        <ion-datetime-button datetime="dueDate"></ion-datetime-button>
        <ion-datetime id="dueDate" formControlName="dueDate"></ion-datetime>
      </ion-item>
      <ion-note *ngIf="taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched" color="danger">
        <span *ngIf="taskForm.get('dueDate')?.errors?.['invalidDate']">La date limite ne peut pas être dans le passé.</span>
      </ion-note>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!taskForm.valid">
        Créer la tâche
      </ion-button>
    </div>
  </form>
</ion-content>